#posts-filter .tablenav.top,
.check-column{
    display: none !important;
}
.column-title {
    padding-left: 20px !important;
}
tfoot {
    display: none;
}
.tablenav.bottom {
    display: none !important;
}